.my-trips-form {
  width: 100%;
  min-height: 100vh;
  background: rgba(73, 41, 0, 0.8);
  color: black;
  transition: 0.3s;
}

.title {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 170px;
  top: 80px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.sort-select {
  transition: 0.3s;
}

.sort-select:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.my-trips-text {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px 30px;
  width: 200px;
  min-height: 50px;
  border-radius: 30px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.my-trips-text.tint {
  background-color: rgb(0, 0, 0, 0.5);
  transition: 0.3s;
}

.all-trips {
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 40px;
  border-radius: 30px;
  width: 100%;
  min-height: 65vh;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  transition: 0.3s;
}

.all-trips.tint {
  background-color: rgb(0, 0, 0, 0.5);
  transition: 0.3s;
}

.message {
  grid-column: 2;
  place-self: center;
  font-size: 30px;
}

.trip {
  background-color: white;
  border-radius: 30px;
  padding: 20px;
}

.trip h1 {
  text-align: center;
}

.trip .btn {
  display: block;
  margin: 20px auto 0 auto;
  font-size: 20px;
  padding: 20px;
}

.trip.tint {
  background-color: rgb(0, 0, 0, 0.5);
  transition: 0.3s;
}

.trip-details {
  margin: 30px;
}

.trip-subdetails {
  margin: 20px 0;
}

.card-buttons {
  display: flex;
  justify-content: center;
}
